Repository sibiraj-s/ngx-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

ci: fix lock threads permissions
  .github/workflows/lock.yml
Due: prettier --write

chore: bump devDependencies
  package-lock.json
  package.json
Due: none

chore: update to tailwindcss to v4
  README.md
  package-lock.json
  package.json
  projects/demo/.postcssrc.json
  projects/demo/src/app/bubble-menu/bubble-menu.html
  projects/demo/src/app/bubble-menu/bubble-menu.ts
  projects/demo/src/app/floating-menu/floating-menu.html
  projects/demo/src/app/floating-menu/floating-menu.ts
  projects/demo/src/app/nodeview-renderer/nodeview-renderer.ts
  projects/demo/src/app/nodeview-renderer/nodeviews/counter/counter.css
  projects/demo/src/app/nodeview-renderer/nodeviews/counter/counter.html
  projects/demo/src/app/nodeview-renderer/nodeviews/editable/editable.css
  projects/demo/src/app/simple-editor-reactive/simple-editor-reactive.html
  projects/demo/src/app/simple-editor-reactive/simple-editor-reactive.ts
  projects/demo/src/app/simple-editor/simple-editor.html
  projects/demo/src/app/simple-editor/simple-editor.ts
  projects/demo/src/styles.css
  projects/demo/tailwind.config.ts
Due: prettier --write, eslint --fix

ci: fix workflow trigger syntax
  .github/workflows/npmpublish.yml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: prettier --write

release: ngx-tiptap v13.0.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: bump version
  projects/ngx-tiptap/package.json
Due: none

feat: bump tiptap versions
  CHANGELOG.md
  package-lock.json
  package.json
  projects/ngx-tiptap/package.json
Due: prettier --write

fix: remove unnecessary peer dependency
  projects/ngx-tiptap/package.json
Due: none

fix: change tiptap version in readme
  README.md
Due: prettier --write

feat: tiptap v3 support (#93)
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  projects/ngx-tiptap/package.json
  projects/ngx-tiptap/src/lib/bubble-menu.directive.ts
  projects/ngx-tiptap/src/lib/editor.directive.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.ts
Due: prettier --write, eslint --fix

ci: publish to npm with openid
  .github/workflows/npmpublish.yml
Due: prettier --write

release: ngx-tiptap v14.0.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

ci: update to npm latest
  .github/workflows/npmpublish.yml
Due: prettier --write

fix: bubble/floating menu position
  projects/ngx-tiptap/package.json
  projects/ngx-tiptap/src/lib/bubble-menu.directive.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.ts
Due: eslint --fix

release: ngx-tiptap v14.0.1
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

Add support for all options for Floating & Bubble menu
  projects/ngx-tiptap/src/lib/bubble-menu.directive.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.ts
Due: eslint --fix

Remove virtualElement input from floating-menu.directive
  projects/ngx-tiptap/src/lib/floating-menu.directive.ts
Due: eslint --fix

feat!: upgrade to Angular 21
  package-lock.json
  package.json
  projects/demo/src/main.server.ts
  projects/demo/src/main.ts
  projects/ngx-tiptap/package.json
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
  projects/ngx-tiptap/src/lib/bubble-menu.directive.ts
  projects/ngx-tiptap/src/lib/draggable.directive.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.ts
Due: eslint --fix

feat: update lock and explicit exports
  package-lock.json
  projects/ngx-tiptap/package.json
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
  projects/ngx-tiptap/src/public-api.ts
Due: eslint --fix

Add support for all options for Floating & Bubble menu (#107)
  projects/ngx-tiptap/src/lib/bubble-menu.directive.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.ts
Due: eslint --fix

fix: remove editor listeners on destroy, add tests
  projects/ngx-tiptap/src/lib/AngularRenderer.spec.ts
  projects/ngx-tiptap/src/lib/NodeViewRenderer.spec.ts
  projects/ngx-tiptap/src/lib/bubble-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.lifecycle.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.spec.ts
Due: eslint --fix

fix: support editor provided after init
  projects/ngx-tiptap/src/lib/editor.directive.late.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
Due: eslint --fix

fix: type renderer props as input values
  projects/ngx-tiptap/src/lib/AngularRenderer.spec.ts
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
Due: eslint --fix

fix: improve node view selection
  projects/ngx-tiptap/src/lib/NodeViewRenderer.spec.ts
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
  projects/ngx-tiptap/src/lib/NodeViewSelectionTracker.ts
  projects/ngx-tiptap/src/lib/node-view.component.ts
  projects/ngx-tiptap/src/lib/utils/getTextSelectionAncestorPositions.ts
Due: eslint --fix

test: add signal forms tests and docs
  README.md
  projects/ngx-tiptap/src/lib/editor.directive.signal-forms.spec.ts
Due: prettier --write, eslint --fix

feat: add angular mark view renderer
  README.md
  projects/ngx-tiptap/src/lib/MarkViewRenderer.spec.ts
  projects/ngx-tiptap/src/lib/MarkViewRenderer.ts
  projects/ngx-tiptap/src/lib/mark-view-content.directive.ts
  projects/ngx-tiptap/src/lib/mark-view.component.ts
  projects/ngx-tiptap/src/public-api.ts
Due: prettier --write, eslint --fix

feat: add angular markview and widget renderer
  README.md
  projects/demo/src/app/app.component.html
  projects/demo/src/app/app.routes.ts
  projects/demo/src/app/markview-renderer/extensions.ts
  projects/demo/src/app/markview-renderer/markview-renderer.component.html
  projects/demo/src/app/markview-renderer/markview-renderer.css
  projects/demo/src/app/markview-renderer/markview-renderer.spec.ts
  projects/demo/src/app/markview-renderer/markview-renderer.ts
  projects/demo/src/app/markview-renderer/markviews/highlight/highlight.component.html
  projects/demo/src/app/markview-renderer/markviews/highlight/highlight.css
  projects/demo/src/app/markview-renderer/markviews/highlight/highlight.ts
  projects/demo/src/app/widget-renderer/extensions.ts
  projects/demo/src/app/widget-renderer/widget-renderer.component.html
  projects/demo/src/app/widget-renderer/widget-renderer.css
  projects/demo/src/app/widget-renderer/widget-renderer.spec.ts
  projects/demo/src/app/widget-renderer/widget-renderer.ts
  projects/demo/src/app/widget-renderer/widgets/word-count/word-count.component.html
  projects/demo/src/app/widget-renderer/widgets/word-count/word-count.css
  projects/demo/src/app/widget-renderer/widgets/word-count/word-count.ts
  projects/ngx-tiptap/src/lib/WidgetRenderer.spec.ts
  projects/ngx-tiptap/src/lib/WidgetRenderer.ts
  projects/ngx-tiptap/src/lib/editor.directive.lifecycle.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
  projects/ngx-tiptap/src/lib/handleMobileEnter.spec.ts
  projects/ngx-tiptap/src/lib/handleMobileEnter.ts
  projects/ngx-tiptap/src/lib/widget.component.ts
  projects/ngx-tiptap/src/public-api.ts
Due: prettier --write, eslint --fix

test: add tests for markdown extension
  README.md
  package-lock.json
  package.json
  projects/ngx-tiptap/src/lib/markdown.spec.ts
Due: prettier --write, eslint --fix

release: ngx-tiptap v15.0.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

ci: use npm staged publishing
  .github/workflows/npmpublish.yml
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{md,yml}
  eslint --fix: any of: *.{js,ts,html}
