Repository sibiraj-s/ngx-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.yml:

'*.{md,yml}': 'prettier --write'
'*.{js,ts,html}': 'eslint --fix'

fix: update deleteNode method
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
Due: eslint --fix

chore: make demo component editable by default
  projects/demo/src/app/app.component.ts
Due: eslint --fix

fix: move all childNodes within EditorContent
  projects/ngx-tiptap/src/lib/editor.directive.ts
Due: eslint --fix

chore: update demo
  projects/demo/src/app/nodeviews/counter/counter.component.html
Due: eslint --fix

chore: fix lint issues
  projects/demo/src/app/app.component.spec.ts
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
  projects/ngx-tiptap/src/lib/draggable.directive.spec.ts
  projects/ngx-tiptap/src/lib/node-view-content.directive.spec.ts
Due: eslint --fix

fix: update peerDependencies
  projects/ngx-tiptap/package.json
Due: none

release: ngx-tiptap v2.1.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: update dependencies and devDependencies
  package-lock.json
  package.json
  projects/ngx-tiptap/package.json
Due: none

chore: regenerate package-lock.json
  package-lock.json
Due: none

ci: update node matrix
  .github/workflows/tests.yml
Due: prettier --write

ci: remove node matrix
  .github/workflows/tests.yml
Due: prettier --write

ci: update workflows
  .github/workflows/tests.yml
Due: prettier --write

chore: update devDependencies
  package-lock.json
  package.json
Due: none

fix: use correct peerDependencies
  package-lock.json
  package.json
  projects/ngx-tiptap/package.json
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
Due: eslint --fix

chore: update README.md
  README.md
Due: prettier --write

release: ngx-tiptap v2.1.1
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: update demo with drag component
  projects/demo/src/app/nodeviews/counter/counter.component.html
Due: eslint --fix

chore: update demo extensions
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/extensions.ts
Due: eslint --fix

docs: update README.md
  README.md
Due: prettier --write

fix: set correct styles for editable component
  projects/ngx-tiptap/src/lib/node-view-content.directive.ts
Due: eslint --fix

ci: ignore husky install
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
  .husky/.gitignore
  package-lock.json
  package.json
Due: prettier --write

release: ngx-tiptap v2.1.2
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: fix links in README.md
  README.md
Due: prettier --write

chore: update @angular/eslint deps
  package-lock.json
  package.json
Due: none

ci: skip husky installation
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
  package-lock.json
  package.json
Due: prettier --write

chore: remove unwanted code
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
Due: eslint --fix

refactor: flat assign nodeView props
  README.md
  projects/demo/src/app/nodeviews/counter/counter.component.html
  projects/demo/src/app/nodeviews/counter/counter.component.ts
  projects/demo/src/app/nodeviews/editable/editable.component.html
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
Due: prettier --write, eslint --fix

docs: udpate README.md
  README.md
Due: prettier --write

chore: remove unwanted types import
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
Due: eslint --fix

release: ngx-tiptap v3.0.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

fix: make AngularRenderer more generic
  README.md
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
  tsconfig.json
Due: prettier --write, eslint --fix

release: ngx-tiptap v3.0.1
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: update package description
  projects/ngx-tiptap/package.json
Due: none

chore: add prePublishOnly script
  package.json
Due: none

chore: update demo content
  projects/demo/src/app/app.component.html
  projects/demo/src/app/app.component.ts
Due: eslint --fix
