Repository sibiraj-s/ngx-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

release: ngx-tiptap v8.0.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: update to angular v16
  package-lock.json
  package.json
Due: none

chore: update to angular v16 (#38)
  package-lock.json
  package.json
Due: none

feat: update to angular v16.1.0
  package-lock.json
  package.json
Due: none

ci: update actions/deploy-pages to v2
  .github/workflows/pages.yml
Due: prettier --write

ci: add npm package provenance
  .github/workflows/npmpublish.yml
Due: prettier --write

chore: require angular>=16 in peerDependencies
  projects/ngx-tiptap/package.json
Due: none

release: ngx-tiptap v9.0.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: fix editable component key trap
  projects/demo/src/app/nodeview-renderer/nodeviews/editable/editable.component.html
Due: eslint --fix

chore: add vscode configurations
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
Due: none

docs: update README.md
  README.md
Due: prettier --write

chore: update pre-push hooks
  .husky/pre-push
Due: none

chore: convert tailwind config to typescript
  projects/demo/tailwind.config.js
  projects/demo/tailwind.config.ts
Due: eslint --fix

chore: bump devDependencies
  package-lock.json
  package.json
Due: none

feat: use setInput to trigger change detection in custom node views
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
Due: eslint --fix

feat: use setInput to trigger change detection in node views (#41)
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
Due: eslint --fix

release: ngx-tiptap v9.0.1
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

docs: update README
  README.md
Due: prettier --write

ci: add lock issues action
  .github/workflows/lock.yml
Due: prettier --write

chore: update cypress to v12.17.2
  package-lock.json
  package.json
Due: none

fix: update selected prop on text selection
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
Due: eslint --fix

docs: update examples
  projects/demo/src/app/nodeview-renderer/extensions.ts
  projects/demo/src/app/nodeview-renderer/nodeviews/editable/editable.component.css
  projects/demo/src/app/nodeview-renderer/nodeviews/editable/editable.component.html
Due: eslint --fix

release: ngx-tiptap v9.0.2
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: update devDependencies
  package-lock.json
  package.json
Due: none

Update cypress/github-action to v5
  .github/workflows/tests.yml
Due: prettier --write

chore: update cypress/github-action to v6 (#50)
  .github/workflows/tests.yml
Due: prettier --write

feat: enable hierarchical injectors in AngularRenderer
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
Due: eslint --fix

feat: enable hierarchical injectors in AngularRenderer (#59)
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
Due: eslint --fix

chore: add funding info
  projects/ngx-tiptap/package.json
Due: none

release: ngx-tiptap v9.1.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

fix: update view on selection update
  projects/ngx-tiptap/src/lib/editor.directive.ts
Due: eslint --fix

fix: update view on selection update (#62)
  projects/ngx-tiptap/src/lib/editor.directive.ts
Due: eslint --fix

chore: regenerate package-lock.json
  package-lock.json
Due: none

release: ngx-tiptap v9.1.1
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

feat: upgrade to angular v17
  .eslintrc.json
  angular.json
  package-lock.json
  package.json
  projects/demo/.eslintrc.json
  projects/demo/src/app/app-title-strategy.ts
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/app.config.ts
  projects/demo/src/app/app.module.ts
  projects/demo/src/app/app.routes.ts
  projects/demo/src/app/bubble-menu/bubble-menu.component.html
  projects/demo/src/app/bubble-menu/bubble-menu.component.spec.ts
  projects/demo/src/app/bubble-menu/bubble-menu.component.ts
  projects/demo/src/app/floating-menu/floating-menu.component.spec.ts
  projects/demo/src/app/floating-menu/floating-menu.component.ts
  projects/demo/src/app/nodeview-renderer/nodeview-renderer.component.spec.ts
  projects/demo/src/app/nodeview-renderer/nodeview-renderer.component.ts
  projects/demo/src/app/nodeview-renderer/nodeviews/counter/counter.component.ts
  projects/demo/src/app/nodeview-renderer/nodeviews/editable/editable.component.ts
  projects/demo/src/app/simple-editor-reactive/simple-editor-reactive.component.spec.ts
  projects/demo/src/app/simple-editor-reactive/simple-editor-reactive.component.ts
  projects/demo/src/app/simple-editor/simple-editor.component.spec.ts
  projects/demo/src/app/simple-editor/simple-editor.component.ts
  projects/demo/src/main.ts
  projects/demo/tailwind.config.ts
  projects/demo/tsconfig.app.json
  projects/ngx-tiptap/.eslintrc.json
  projects/ngx-tiptap/package.json
  projects/ngx-tiptap/src/lib/editor.directive.ts
  tsconfig.json
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{md,yml}
  eslint --fix: any of: *.{js,ts,html}
