Repository sibiraj-s/ngx-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.yml:

'*.{md,yml}': 'prettier --write'
'*.{js,ts,html}': 'eslint --fix'

chore: add browserslist config
  projects/ngx-tiptap/.browserslistrc
Due: none

chore: fix character usage in demo
  projects/demo/src/app/app.component.ts
Due: eslint --fix

fix: render json inputs
  projects/ngx-tiptap/src/lib/editor.directive.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
Due: eslint --fix

chore: update devDependencies
  package-lock.json
  package.json
Due: none

test: add unit tests for ReactiveForms
  projects/demo/src/app/app.component.html
  projects/demo/src/app/app.component.spec.ts
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/app.module.ts
  projects/ngx-tiptap/src/lib/editor.directive.spec.ts
Due: eslint --fix

release: ngx-tiptap v4.0.4
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: fix type conflicts with jasmine and cypress
  tsconfig.json
Due: none

chore: fix module import order
  projects/demo/src/app/app.component.spec.ts
Due: eslint --fix

chore: update demo site
  e2e/cypress/integration/1-editor/1-core.spec.ts
  e2e/cypress/integration/1-editor/2-bubble-menu.spec.ts
  e2e/cypress/integration/1-editor/3-floating-menu.spec.ts
  projects/demo/src/app/app-routing.module.ts
  projects/demo/src/app/app.component.html
  projects/demo/src/app/app.component.spec.ts
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/app.module.ts
  projects/demo/src/app/bubble-menu/bubble-menu.component.css
  projects/demo/src/app/bubble-menu/bubble-menu.component.html
  projects/demo/src/app/bubble-menu/bubble-menu.component.spec.ts
  projects/demo/src/app/bubble-menu/bubble-menu.component.ts
  projects/demo/src/app/floating-menu/floating-menu.component.css
  projects/demo/src/app/floating-menu/floating-menu.component.html
  projects/demo/src/app/floating-menu/floating-menu.component.spec.ts
  projects/demo/src/app/floating-menu/floating-menu.component.ts
  projects/demo/src/app/nodeview-renderer/extensions.ts
  projects/demo/src/app/nodeview-renderer/nodeview-renderer.component.css
  projects/demo/src/app/nodeview-renderer/nodeview-renderer.component.html
  projects/demo/src/app/nodeview-renderer/nodeview-renderer.component.spec.ts
  projects/demo/src/app/nodeview-renderer/nodeview-renderer.component.ts
  projects/demo/src/app/nodeview-renderer/nodeviews/counter/counter.component.css
  projects/demo/src/app/nodeview-renderer/nodeviews/counter/counter.component.html
  projects/demo/src/app/nodeview-renderer/nodeviews/counter/counter.component.ts
  projects/demo/src/app/nodeview-renderer/nodeviews/editable/editable.component.css
  projects/demo/src/app/nodeview-renderer/nodeviews/editable/editable.component.html
  projects/demo/src/app/nodeview-renderer/nodeviews/editable/editable.component.ts
  projects/demo/src/app/simple-editor/simple-editor.component.css
  projects/demo/src/app/simple-editor/simple-editor.component.html
  projects/demo/src/app/simple-editor/simple-editor.component.spec.ts
  projects/demo/src/app/simple-editor/simple-editor.component.ts
  projects/demo/src/styles.css
Due: eslint --fix

chore: update tailwindcss to v3
  package-lock.json
  package.json
  projects/demo/tailwind.config.js
Due: eslint --fix

ci: deploy demo to github-pages
  .github/workflows/pages.yml
  _config.yml
  package.json
Due: prettier --write

ci: fix pages build
  .github/workflows/pages.yml
Due: prettier --write

chore: update demo site routes
  projects/demo/src/app/app-routing.module.ts
  projects/demo/src/app/app.component.html
  projects/demo/src/app/app.component.ts
  projects/demo/src/index.html
Due: eslint --fix

chore: fix demo module tests
  projects/demo/src/app/app.component.spec.ts
Due: eslint --fix

test: fix e2e tests
  e2e/cypress/integration/1-editor/2-bubble-menu.spec.ts
  e2e/cypress/integration/1-editor/3-floating-menu.spec.ts
Due: eslint --fix

test: add e2e tests for nodeview-renderer
  e2e/cypress/integration/1-editor/4-nodeview-renderer.spec.ts
Due: eslint --fix

chore: fix demo styles
  projects/demo/src/app/app.component.html
Due: eslint --fix

chore: update demo site
  e2e/cypress/integration/1-editor/2-bubble-menu.spec.ts
  e2e/cypress/integration/1-editor/3-floating-menu.spec.ts
  projects/demo/src/app/app.component.html
  projects/demo/src/app/bubble-menu/bubble-menu.component.ts
  projects/demo/src/app/floating-menu/floating-menu.component.ts
  projects/demo/src/app/nodeview-renderer/nodeview-renderer.component.ts
  projects/demo/src/app/nodeview-renderer/nodeviews/counter/counter.component.css
  projects/demo/src/app/nodeview-renderer/nodeviews/editable/editable.component.css
  projects/demo/src/app/simple-editor/simple-editor.component.html
  projects/demo/src/app/simple-editor/simple-editor.component.ts
Due: eslint --fix

chore: update menus in demo site
  projects/demo/src/app/simple-editor/simple-editor.component.html
  projects/demo/src/styles.css
Due: eslint --fix

chore: update demo styles
  projects/demo/src/app/nodeview-renderer/nodeviews/counter/counter.component.css
Due: none

chore: update dependencies and devDependencies
  package-lock.json
  package.json
Due: none

style: apply pegasus eslint config
  .eslintrc.json
  package-lock.json
  package.json
  projects/demo/src/app/app-routing.module.ts
  projects/demo/src/app/app.component.spec.ts
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/app.module.ts
  projects/demo/src/app/bubble-menu/bubble-menu.component.spec.ts
  projects/demo/src/app/bubble-menu/bubble-menu.component.ts
  projects/demo/src/app/floating-menu/floating-menu.component.spec.ts
  projects/demo/src/app/floating-menu/floating-menu.component.ts
  projects/demo/src/app/nodeview-renderer/nodeview-renderer.component.spec.ts
  projects/demo/src/app/nodeview-renderer/nodeview-renderer.component.ts
  projects/demo/src/app/nodeview-renderer/nodeviews/counter/counter.component.ts
  projects/demo/src/app/nodeview-renderer/nodeviews/editable/editable.component.ts
  projects/demo/src/app/simple-editor/simple-editor.component.spec.ts
  projects/demo/src/app/simple-editor/simple-editor.component.ts
  projects/demo/src/environments/environment.prod.ts
  projects/demo/src/environments/environment.ts
  projects/demo/src/main.ts
  projects/demo/src/polyfills.ts
  projects/demo/src/test.ts
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
  projects/ngx-tiptap/src/lib/bubble-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/bubble-menu.directive.ts
  projects/ngx-tiptap/src/lib/draggable.directive.spec.ts
  projects/ngx-tiptap/src/lib/draggable.directive.ts
  projects/ngx-tiptap/src/lib/editor.directive.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.ts
  projects/ngx-tiptap/src/lib/ngx-tiptap.module.ts
  projects/ngx-tiptap/src/lib/node-view-content.directive.spec.ts
  projects/ngx-tiptap/src/lib/node-view-content.directive.ts
  projects/ngx-tiptap/src/lib/node-view.component.ts
  projects/ngx-tiptap/src/public-api.ts
  projects/ngx-tiptap/src/test.ts
Due: eslint --fix

chore: regenerate package-lock.json
  package-lock.json
Due: none

chore: remove broken badges from README
  README.md
Due: prettier --write

ci: update actions checkout,setup-node to v3
  .github/workflows/npmpublish.yml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: prettier --write

ci: update cypress action to v3
  .github/workflows/tests.yml
Due: prettier --write

build: update devDependencies
  package-lock.json
  package.json
Due: none

chore: update lint-staged config
  .lintstagedrc.yml
Due: prettier --write

fix: don't destroy editor from the directive
  projects/ngx-tiptap/src/lib/editor.directive.ts
Due: eslint --fix

fix: run change detection manually after view init
  projects/ngx-tiptap/src/lib/editor.directive.ts
Due: eslint --fix

docs: update README.md
  README.md
Due: prettier --write

chore: fix directive tests
  projects/ngx-tiptap/src/lib/editor.directive.spec.ts
Due: eslint --fix

release: ngx-tiptap v5.0.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

docs: update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write
