Repository sibiraj-s/ngx-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: fix editable module demo
  projects/demo/src/app/nodeview-renderer/nodeviews/editable/editable.component.ts
Due: eslint --fix

ci: fix pages artifact upload directory
  .github/workflows/pages.yml
Due: prettier --write

chore: configure prettier angular parser
  .prettierrc.yml
  projects/demo/src/app/bubble-menu/bubble-menu.component.html
  projects/demo/src/app/floating-menu/floating-menu.component.html
  projects/demo/src/app/nodeview-renderer/nodeviews/counter/counter.component.html
  projects/demo/src/app/nodeview-renderer/nodeviews/editable/editable.component.html
  projects/demo/src/app/simple-editor-reactive/simple-editor-reactive.component.html
  projects/demo/src/app/simple-editor/simple-editor.component.html
  projects/demo/src/index.html
Due: prettier --write, eslint --fix

release: ngx-tiptap v10.0.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: update husky scripts
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: none

feat: support updateDelay in bubble menu
  projects/ngx-tiptap/src/lib/bubble-menu.directive.ts
Due: eslint --fix

release: ngx-tiptap v10.1.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: bump dependencies
  .gitignore
  package-lock.json
  package.json
Due: none

build: fix tailwind styles
  projects/demo/src/styles.css
Due: none

ci: update workflows
  .github/workflows/lock.yml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: prettier --write

chore: bump dependencies
  package-lock.json
  package.json
Due: none

feat: update to angular v18 (#68)
  package-lock.json
  package.json
Due: none

chore: finish angular v18 update
  .gitignore
  angular.json
  package-lock.json
  package.json
  projects/demo/public/favicon.ico
  projects/demo/src/assets/.gitkeep
  projects/demo/tsconfig.app.json
  projects/demo/tsconfig.spec.json
  projects/ngx-tiptap/package.json
  projects/ngx-tiptap/tsconfig.lib.json
  projects/ngx-tiptap/tsconfig.lib.prod.json
  projects/ngx-tiptap/tsconfig.spec.json
  tsconfig.json
Due: none

release: ngx-tiptap v11.0.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

fix: align NodeViewRenderer types with tiptap
  package-lock.json
  package.json
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
  projects/ngx-tiptap/src/lib/node-view.component.ts
Due: eslint --fix

chore: bump dependencies
  package-lock.json
  package.json
  projects/ngx-tiptap/package.json
Due: none

ci: update publish actions
  .github/workflows/npmpublish.yml
Due: prettier --write

release: ngx-tiptap v11.1.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: update cypress
  package-lock.json
Due: none

feat: migrate to standalone compoents, directives
  projects/demo/src/app/bubble-menu/bubble-menu.component.ts
  projects/demo/src/app/floating-menu/floating-menu.component.ts
  projects/demo/src/app/nodeview-renderer/nodeview-renderer.component.ts
  projects/demo/src/app/nodeview-renderer/nodeviews/counter/counter.component.ts
  projects/demo/src/app/nodeview-renderer/nodeviews/editable/editable.component.ts
  projects/demo/src/app/simple-editor-reactive/simple-editor-reactive.component.ts
  projects/demo/src/app/simple-editor/simple-editor.component.ts
  projects/ngx-tiptap/src/lib/bubble-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/bubble-menu.directive.ts
  projects/ngx-tiptap/src/lib/draggable.directive.spec.ts
  projects/ngx-tiptap/src/lib/draggable.directive.ts
  projects/ngx-tiptap/src/lib/editor.directive.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.ts
  projects/ngx-tiptap/src/lib/ngx-tiptap.module.ts
  projects/ngx-tiptap/src/lib/node-view-content.directive.spec.ts
  projects/ngx-tiptap/src/lib/node-view-content.directive.ts
  projects/ngx-tiptap/src/public-api.ts
Due: eslint --fix

refactor: update imports in ngx-tiptap.module.ts
  projects/ngx-tiptap/src/lib/ngx-tiptap.module.ts
Due: eslint --fix

fix: remove ngx-tiptap.module and puplic-api entry
  projects/ngx-tiptap/src/lib/ngx-tiptap.module.ts
  projects/ngx-tiptap/src/public-api.ts
Due: eslint --fix

feat: migrate to standalone components (#70)
  package-lock.json
  projects/demo/src/app/bubble-menu/bubble-menu.component.ts
  projects/demo/src/app/floating-menu/floating-menu.component.ts
  projects/demo/src/app/nodeview-renderer/nodeview-renderer.component.ts
  projects/demo/src/app/nodeview-renderer/nodeviews/counter/counter.component.ts
  projects/demo/src/app/nodeview-renderer/nodeviews/editable/editable.component.ts
  projects/demo/src/app/simple-editor-reactive/simple-editor-reactive.component.ts
  projects/demo/src/app/simple-editor/simple-editor.component.ts
  projects/ngx-tiptap/src/lib/bubble-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/bubble-menu.directive.ts
  projects/ngx-tiptap/src/lib/draggable.directive.spec.ts
  projects/ngx-tiptap/src/lib/draggable.directive.ts
  projects/ngx-tiptap/src/lib/editor.directive.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.ts
  projects/ngx-tiptap/src/lib/ngx-tiptap.module.ts
  projects/ngx-tiptap/src/lib/node-view-content.directive.spec.ts
  projects/ngx-tiptap/src/lib/node-view-content.directive.ts
  projects/ngx-tiptap/src/public-api.ts
Due: eslint --fix

refactor: rename directives and update README
  README.md
  projects/demo/src/app/bubble-menu/bubble-menu.component.ts
  projects/demo/src/app/floating-menu/floating-menu.component.ts
  projects/demo/src/app/nodeview-renderer/nodeview-renderer.component.ts
  projects/demo/src/app/nodeview-renderer/nodeviews/counter/counter.component.ts
  projects/demo/src/app/nodeview-renderer/nodeviews/editable/editable.component.ts
  projects/demo/src/app/simple-editor-reactive/simple-editor-reactive.component.ts
  projects/demo/src/app/simple-editor/simple-editor.component.ts
  projects/ngx-tiptap/src/lib/bubble-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/bubble-menu.directive.ts
  projects/ngx-tiptap/src/lib/draggable.directive.spec.ts
  projects/ngx-tiptap/src/lib/draggable.directive.ts
  projects/ngx-tiptap/src/lib/editor.directive.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.ts
Due: prettier --write, eslint --fix

refactor: rename directives
  README.md
  projects/demo/src/app/nodeview-renderer/nodeviews/editable/editable.component.ts
  projects/ngx-tiptap/src/lib/node-view-content.directive.spec.ts
  projects/ngx-tiptap/src/lib/node-view-content.directive.ts
Due: prettier --write, eslint --fix

refactor: update to angular v19
  angular.json
  package-lock.json
  package.json
  projects/demo/src/app/app-title-strategy.ts
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/app.routes.ts
  projects/demo/src/app/bubble-menu/bubble-menu.component.ts
  projects/demo/src/app/floating-menu/floating-menu.component.ts
  projects/demo/src/app/nodeview-renderer/nodeview-renderer.component.ts
  projects/demo/src/app/nodeview-renderer/nodeviews/counter/counter.component.ts
  projects/demo/src/app/nodeview-renderer/nodeviews/editable/editable.component.ts
  projects/demo/src/app/simple-editor-reactive/simple-editor-reactive.component.ts
  projects/demo/src/app/simple-editor/simple-editor.component.ts
  projects/ngx-tiptap/src/lib/bubble-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/bubble-menu.directive.ts
  projects/ngx-tiptap/src/lib/draggable.directive.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.ts
  projects/ngx-tiptap/src/lib/node-view-content.directive.spec.ts
  projects/ngx-tiptap/src/lib/node-view.component.ts
  tsconfig.json
Due: eslint --fix

refactor: migrate to signals
  README.md
  package-lock.json
  projects/demo/src/app/nodeview-renderer/nodeviews/counter/counter.component.html
  projects/demo/src/app/nodeview-renderer/nodeviews/counter/counter.component.ts
  projects/demo/src/app/nodeview-renderer/nodeviews/editable/editable.component.html
  projects/ngx-tiptap/package.json
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
  projects/ngx-tiptap/src/lib/bubble-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/bubble-menu.directive.ts
  projects/ngx-tiptap/src/lib/editor.directive.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.ts
  projects/ngx-tiptap/src/lib/node-view.component.ts
Due: prettier --write, eslint --fix

chore: fix lock file
  package-lock.json
Due: none

chore: bump devDependencies
  package-lock.json
  package.json
Due: none

chore: add ssr example
  angular.json
  package-lock.json
  package.json
  projects/demo/src/app/app.config.server.ts
  projects/demo/src/app/app.routes.server.ts
  projects/demo/src/main.server.ts
  projects/demo/src/server.ts
  projects/demo/tsconfig.app.json
Due: eslint --fix

release: ngx-tiptap v12.0.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

ci: update nodejs to v22
  .github/workflows/npmpublish.yml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: prettier --write

chore: cleanup standalone flag
  README.md
  projects/ngx-tiptap/src/lib/draggable.directive.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.ts
  projects/ngx-tiptap/src/lib/node-view-content.directive.ts
  projects/ngx-tiptap/src/lib/node-view.component.ts
Due: prettier --write, eslint --fix

chore: cleanup standalone flag
  projects/ngx-tiptap/src/lib/bubble-menu.directive.ts
Due: eslint --fix

chore: fix rendering client components in SSR
  projects/demo/src/app/app.routes.server.ts
Due: eslint --fix

ci: fix pages deployment
  .github/workflows/pages.yml
Due: prettier --write

chore: regenerate package-lock.json
  package-lock.json
Due: none

chore: bump dependencies
  package-lock.json
  package.json
  projects/demo/src/app/nodeview-renderer/nodeview-renderer.component.ts
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{md,yml}
  eslint --fix: any of: *.{js,ts,html}
