Repository sibiraj-s/ngx-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: attach stopEvent conditionally
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
Due: eslint --fix

chore: update examples
  projects/demo/src/app/app.component.html
Due: eslint --fix

chore: fix e2e tests
  projects/demo/e2e/src/app.e2e-spec.ts
  projects/demo/e2e/src/app.po.ts
Due: eslint --fix

release: ngx-tiptap v1.2.2
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

docs: update README.md
  README.md
Due: prettier --write

chore: update dependencies and devDependencies
  package-lock.json
  package.json
Due: none

fix: update types
  projects/ngx-tiptap/src/lib/editor.directive.ts
Due: eslint --fix

docs: update examples to remove defaultExtensions
  README.md
  projects/demo/src/app/app.component.spec.ts
  projects/demo/src/app/app.component.ts
  projects/ngx-tiptap/package.json
  projects/ngx-tiptap/src/lib/bubble-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.spec.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.spec.ts
Due: prettier --write, eslint --fix

release: ngx-tiptap v1.2.3
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: update typescript eslint
  package-lock.json
  package.json
Due: none

feat: support dragging components
  README.md
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/extensions.ts
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
  projects/ngx-tiptap/src/lib/draggable.directive.spec.ts
  projects/ngx-tiptap/src/lib/draggable.directive.ts
  projects/ngx-tiptap/src/lib/ngx-tiptap.module.ts
  projects/ngx-tiptap/src/public-api.ts
Due: prettier --write, eslint --fix

release: ngx-tiptap v1.3.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: update devDependencies
  package-lock.json
  package.json
Due: none

feat: add AngularRenderer
  projects/demo/e2e/src/app.e2e-spec.ts
  projects/demo/src/app/app.component.ts
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
  projects/ngx-tiptap/src/public-api.ts
Due: eslint --fix

fix: simplify AngularRenderer
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
Due: eslint --fix

fix: make AngularRenderer generic
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
Due: eslint --fix

feat: support contenteditable inside node view
  README.md
  projects/demo/src/app/nodeviews/editable/editable.component.html
  projects/ngx-tiptap/src/lib/ngx-tiptap.module.ts
  projects/ngx-tiptap/src/lib/node-view-content.directive.spec.ts
  projects/ngx-tiptap/src/lib/node-view-content.directive.ts
  projects/ngx-tiptap/src/public-api.ts
Due: prettier --write, eslint --fix

chore: don't expose AngularRenderer internals
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
Due: eslint --fix

release: ngx-tiptap v1.4.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: update dependencies
  projects/ngx-tiptap/package.json
Due: none

fix: detectChanges after mounting contentDOMElement
  projects/demo/src/app/extensions.ts
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
Due: eslint --fix

chore: fix lint issues
  commitlint.config.js
  projects/demo/src/app/app.component.spec.ts
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/extensions.ts
  projects/demo/src/app/nodeviews/counter/counter.component.ts
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
  projects/ngx-tiptap/src/lib/bubble-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/bubble-menu.directive.ts
  projects/ngx-tiptap/src/lib/draggable.directive.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.ts
  projects/ngx-tiptap/src/lib/node-view-content.directive.spec.ts
  projects/ngx-tiptap/src/public-api.ts
Due: eslint --fix

release: ngx-tiptap v1.4.1
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

docs: update site title
  _config.yml
Due: prettier --write

docs: remove site title
  _config.yml
Due: prettier --write

chore: update demo
  projects/demo/src/app/app.component.ts
Due: eslint --fix

chore: remove e2e tests
  .eslintrc.json
  angular.json
  package.json
  projects/demo/.eslintrc.json
  projects/demo/e2e/protractor.conf.js
  projects/demo/e2e/src/app.e2e-spec.ts
  projects/demo/e2e/src/app.po.ts
  projects/demo/e2e/tsconfig.json
Due: eslint --fix

chore: remove protractor
  package-lock.json
  package.json
Due: none

feat: update to angular 12
  angular.json
  package-lock.json
  package.json
  projects/demo/src/environments/environment.ts
  projects/demo/src/polyfills.ts
  projects/demo/src/test.ts
  projects/ngx-tiptap/package.json
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
  projects/ngx-tiptap/src/lib/bubble-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/bubble-menu.directive.ts
  projects/ngx-tiptap/src/lib/editor.directive.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.ts
  projects/ngx-tiptap/src/test.ts
  projects/ngx-tiptap/tsconfig.lib.json
  projects/ngx-tiptap/tsconfig.lib.prod.json
  tsconfig.json
Due: eslint --fix

chore: update prosemirror-view
  projects/ngx-tiptap/package.json
Due: none

release: ngx-tiptap v2.0.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: update peerDependencies
  projects/ngx-tiptap/package.json
Due: none

fix: use correct semver for tiptap packages
  projects/ngx-tiptap/package.json
Due: none

feat: add deleteNode prop
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
Due: eslint --fix

fix: move contentDOM on editor update
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{md,yml}
  eslint --fix: any of: *.{js,ts,html}
