Repository sibiraj-s/ngx-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: update to cypress 10
  cypress.config.ts
  cypress/e2e/1-editor/1-core.cy.ts
  cypress/e2e/1-editor/2-bubble-menu.cy.ts
  cypress/e2e/1-editor/3-floating-menu.cy.ts
  cypress/e2e/1-editor/4-nodeview-renderer.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  e2e/cypress.json
  e2e/cypress/plugins/index.ts
  e2e/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix

chore: update devDependencies
  package-lock.json
  package.json
Due: none

ci: fix e2e tests
  .github/workflows/tests.yml
Due: prettier --write

chore: create FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

chore: delete FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

chore: update tiptap dependencies
  package-lock.json
  package.json
  projects/ngx-tiptap/package.json
Due: none

chore: update to angular v14
  .gitignore
  angular.json
  package-lock.json
  package.json
  projects/demo/src/test.ts
  projects/ngx-tiptap/package.json
  tsconfig.json
Due: eslint --fix

chore: fix build command
  package.json
Due: none

release: ngx-tiptap v6.0.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

fix: onPush change detection
  projects/ngx-tiptap/src/lib/editor.directive.ts
Due: eslint --fix

build(deps): update devDependencies
  package-lock.json
  package.json
Due: none

ci: use official action to publish to pages
  .github/workflows/pages.yml
Due: prettier --write

ci: restrict workflow permissions
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: prettier --write

build(deps): bump dependencies to latest
  package-lock.json
  package.json
Due: none

fix: remove use of deprecated ComponentFactoryResolver
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
Due: eslint --fix

chore: use new titlestrategy
  projects/demo/src/app/app-routing.module.ts
  projects/demo/src/app/app-title-strategy.ts
  projects/demo/src/app/app.component.ts
  projects/demo/src/app/app.module.ts
Due: eslint --fix

fix: onPush change detection (#28)
  projects/ngx-tiptap/src/lib/editor.directive.ts
Due: eslint --fix

chore: update husky git hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

ci: run workflows using node 18
  .github/workflows/npmpublish.yml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: prettier --write

chore: update lockfile version to v3
  package-lock.json
Due: none

ci: remove unwanted headless option
  .github/workflows/tests.yml
  cypress.config.ts
Due: prettier --write, eslint --fix

ci: enable cypress outputs
  .github/workflows/tests.yml
Due: prettier --write

fix: prevent form dirty loop
  projects/ngx-tiptap/src/lib/editor.directive.ts
Due: eslint --fix

ci: update cypress action to v5
  .github/workflows/tests.yml
Due: prettier --write

ci: remove redundant version logs
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: prettier --write

test: fix e2e tests
  cypress/e2e/1-editor/4-nodeview-renderer.cy.ts
Due: eslint --fix

chore: update lint-staged to v13.1.0
  package-lock.json
  package.json
Due: none

feat: update to angular v15
  angular.json
  package-lock.json
  package.json
  projects/demo/.browserslistrc
  projects/demo/karma.conf.js
  projects/demo/src/environments/environment.prod.ts
  projects/demo/src/environments/environment.ts
  projects/demo/src/main.ts
  projects/demo/src/polyfills.ts
  projects/demo/src/test.ts
  projects/demo/tsconfig.app.json
  projects/demo/tsconfig.spec.json
  projects/ngx-tiptap/.browserslistrc
  projects/ngx-tiptap/karma.conf.js
  projects/ngx-tiptap/package.json
  projects/ngx-tiptap/src/test.ts
  projects/ngx-tiptap/tsconfig.lib.json
  projects/ngx-tiptap/tsconfig.spec.json
  tsconfig.json
Due: eslint --fix

chore: update @tiptap/* dependencies
  projects/ngx-tiptap/package.json
Due: none

chore: update prosemirror-* dependencies
  projects/ngx-tiptap/package.json
Due: none

test: fix conflicts with cypress types
  cypress/tsconfig.json
  tsconfig.json
Due: none

fix: use update event to detect changes in content
  projects/demo/src/app/app-routing.module.ts
  projects/demo/src/app/app.component.html
  projects/demo/src/app/app.module.ts
  projects/demo/src/app/simple-editor-reactive/simple-editor-reactive.component.css
  projects/demo/src/app/simple-editor-reactive/simple-editor-reactive.component.html
  projects/demo/src/app/simple-editor-reactive/simple-editor-reactive.component.spec.ts
  projects/demo/src/app/simple-editor-reactive/simple-editor-reactive.component.ts
  projects/demo/src/app/simple-editor/simple-editor.component.spec.ts
  projects/demo/src/app/simple-editor/simple-editor.component.ts
  projects/ngx-tiptap/src/lib/editor.directive.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
Due: eslint --fix

release: ngx-tiptap v7.0.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: update devDependencies
  package-lock.json
  package.json
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
Due: eslint --fix

feat: update to tiptap v2 stable
  package-lock.json
  package.json
  projects/ngx-tiptap/package.json
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{md,yml}
  eslint --fix: any of: *.{js,ts,html}
