Repository sibiraj-s/ngx-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: update tiptap dependencies
  package-lock.json
  package.json
  projects/ngx-tiptap/package.json
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
Due: eslint --fix

release: ngx-tiptap v3.0.2
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: update devDependencies
  package-lock.json
  package.json
Due: none

chore: update tiptap dependencies
  package-lock.json
  package.json
  projects/ngx-tiptap/package.json
  projects/ngx-tiptap/src/lib/bubble-menu.directive.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.ts
Due: eslint --fix

chore: fix tests
  projects/ngx-tiptap/src/lib/bubble-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.spec.ts
Due: eslint --fix

chore: update angular dependencies
  package-lock.json
  package.json
Due: none

chore: update @tiptap/core to v2.0.0-beta.97
  package-lock.json
  package.json
  projects/ngx-tiptap/package.json
Due: none

release: ngx-tiptap v3.0.3
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: update tiptap dependencies
  package-lock.json
  package.json
  projects/ngx-tiptap/package.json
Due: none

chore: update dependencies and devDependencies
  package-lock.json
  package.json
Due: none

fix: destroy component when nodeview is removed
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
Due: eslint --fix

chore: update peerDependencies
  projects/ngx-tiptap/package.json
Due: none

ci: update workflows
  .github/workflows/npmpublish.yml
  .github/workflows/tests.yml
Due: prettier --write

release: ngx-tiptap v3.0.4
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

test: setup cypress for e2e tests
  .github/workflows/tests.yml
  e2e/cypress.json
  e2e/cypress/fixtures/example.json
  e2e/cypress/integration/1-editor/core.spec.ts
  e2e/cypress/plugins/index.ts
  e2e/cypress/support/commands.ts
  e2e/cypress/support/index.ts
  e2e/tsconfig.json
  package-lock.json
  package.json
  projects/demo/src/app/app.component.html
Due: prettier --write, eslint --fix

chore: remove incomplete tests
  projects/ngx-tiptap/src/lib/bubble-menu.directive.spec.ts
  projects/ngx-tiptap/src/lib/floating-menu.directive.spec.ts
Due: eslint --fix

chore: update deprecated npx commands
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: update to angular v13
  .gitignore
  angular.json
  package-lock.json
  package.json
  projects/demo/.browserslistrc
  projects/demo/src/app/nodeviews/counter/counter.component.html
  projects/demo/src/app/nodeviews/counter/counter.component.ts
  projects/demo/src/polyfills.ts
  projects/demo/src/test.ts
  projects/ngx-tiptap/ng-package.json
  projects/ngx-tiptap/package.json
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
  projects/ngx-tiptap/src/test.ts
  projects/ngx-tiptap/tsconfig.lib.json
  tsconfig.json
Due: eslint --fix

release: ngx-tiptap v4.0.0
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: add pegasus config
  .eslintrc.json
  package-lock.json
  package.json
Due: none

chore: prefer node import protocol
  scripts/postbuild.js
Due: eslint --fix

fix: allow setting empty string to ngModel
  projects/ngx-tiptap/src/lib/editor.directive.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
Due: eslint --fix

chore: cleanup tests
  projects/ngx-tiptap/src/lib/editor.directive.spec.ts
  projects/ngx-tiptap/src/lib/editor.directive.ts
Due: eslint --fix

release: ngx-editor v4.0.1
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

chore: replace chalk with picocolors
  package-lock.json
  package.json
  scripts/postbuild.js
Due: eslint --fix

chore: remove unused imports
  projects/ngx-tiptap/src/lib/editor.directive.spec.ts
Due: eslint --fix

chore: update renderer arguments
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
Due: eslint --fix

chore: add comments for detectChanges in view renderer
  projects/ngx-tiptap/src/lib/NodeViewRenderer.ts
Due: eslint --fix

refactor: use viewContainerRef instead of applicationRef
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
Due: eslint --fix

release: ngx-tiptap v4.0.2
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

revert: use viewContainerRef instead of applicationRef
  projects/ngx-tiptap/src/lib/AngularRenderer.ts
Due: eslint --fix

release: ngx-tiptap v4.0.3
  CHANGELOG.md
  projects/ngx-tiptap/package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{md,yml}
  eslint --fix: any of: *.{js,ts,html}
